# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
/out/
/zfasttrie/out/
/papers/
/Thesis
/.venv/
*.txt.*
.DS_Store

# LaTeX build artifacts
text/out/