[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]
mypy = "*"
pandas-stubs = "*"

[requires]
python_version = "3.12"
